In [2]:
import pandas as pd

In [7]:
df=pd.read_csv('training_label.csv')
df

,DHSID,DHSYEAR,DHSCLUST,LATNUM,LONGNUM,Mean_BMI,Median_BMI,Unmet_Need_Rate,Under5_Mortality_Rate,Skilled_Birth_Attendant_Rate,Stunted_Rate,URBAN_RURA
0,AL200800000001,2008,1.0,40.822652,19.838321,24.12,25.28,50.00,9.68,100.00,20.00,R
1,AL200800000002,2008,2.0,40.696846,20.007555,23.04,21.98,7.69,8.33,66.67,0.00,R
2,AL200800000004,2008,4.0,40.798931,19.863338,26.74,26.57,7.69,2.86,100.00,0.00,R
3,AL200800000006,2008,6.0,40.711349,19.935309,27.58,28.08,0.00,9.52,NaN,0.00,U
4,AL200800000010,2008,10.0,40.698522,19.950300,24.23,23.77,20.00,23.81,50.00,0.00,U
...,...,...,...,...,...,...,...,...,...,...,...,...
99107,ZW201500000395,2015,395.0,-17.166506,29.718371,21.92,21.08,6.25,9.72,40.00,21.74,R
99108,ZW201500000396,2015,396.0,-17.915288,31.156115,23.16,22.14,33.33,2.04,78.95,25.00,U
99109,ZW201500000397,2015,397.0,-18.379501,31.872287,24.33,22.61,11.11,1.75,76.19,22.22,R
99110,ZW201500000398,2015,398.0,-16.660612,29.850649,23.70,21.44,10.53,4.88,68.00,17.65,R
99111,ZW201500000400,2015,400.0,-17.859114,31.797626,25.84,24.76,7.69,10.64,62.50,22.22,R